<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
  <section>
    <h3 class="centered">The standard form to compare other samples with</h3>
    <div class = "chart">
      <canvas id="myChart">
    </div>
  </section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['LED_RED(Potassium)','LED_BLUE(Nitrogen)','LED_GREEN(Phosphorous)'],
      datasets: [{
        label: 'Standard Data',
        backgroundColor : '#e29578',
        data: [<%= sensorObj.LED_RED %>, <%= sensorObj.LED_BLUE %>, <%= sensorObj.LED_GREEN %>],
        borderWidth: 1
      }]
    },
      options: {
    responsive: true,
    maintainAspectRatio : false,
    layout: {
      padding: 10,
    },
    legend: {
      position: 'right',
    },
    plugins :{
      title: {
        display: true,
        text: 'Standard NPK'
      },
    },
    scales : {
      y : {
        title : {
          display : true,
          text : 'Intensities'
        }
      },
      x : {
        title : {
          display : true,
          text : 'LEDs'
        }
      }
    }
  }
  });
</script>

</body>
</html>