<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
  <% if(samples.length > 0) { %>
    <% samples.forEach((sample) => { %>
    <div class ="samples">
      <h2>Sample<%= sample.id %></h2>
      <ul>
        <li>LED_RED:<%= sample.LED_RED %>(Potassium)</li>
        <li>LED_BLUE:<%= sample.LED_BLUE %>(Nitrogen)</li>
        <li>LED_GREEN:<%= sample.LED_GREEN %>(Phosphorus)</li>
      </ul>
      <button><a href="/sample/<%= sample.id %>">Details</a></button>
      <form method="POST" action="/sample/<%= sample.id %>" >
        <input value="<%= sample.id %>" type="hidden" name="id">
        <button type="submit"><a>Delete</a></button>
      </form>
    </div>
    <% }) %>
  <% } else { %>
    <h1>No samples in Database</h1>
  <% } %>

</body>
</html>