<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
<section class="centered">
  <h1>Sample<%= sample.id %></h1>
  <ul>
    <li>LED_RED:<%= sample.LED_RED %>(Potassium)</li>
        <li>LED_BLUE:<%= sample.LED_BLUE %>(Nitrogen)</li>
        <li>LED_GREEN:<%= sample.LED_GREEN %>(Phosphorus)</li>
  </ul>

  <div class = "chart">
    <canvas id="myChart">
  </div>
  <p>NOTE: A sample value will have more contents of the respective fertilizer if the value is less than that of the standard.
    <div class="conclusion">
    <h3>Conclusion</h3>
    <ul>
      <li> Potassium :
        <% if((standard.LED_RED-50) < sample.LED_RED &&  sample.LED_RED < (standard.LED_RED+50)) {%>
        MEDIUM
        <% } else if (sample.LED_RED < standard.LED_RED) { %>
        HIGH
        <% } else  { %>
        LOW
        <% } %>
      </li>
          <li> Nitrogen :
        <% if((standard.LED_BLUE-50) < sample.LED_BLUE &&  sample.LED_BLUE < (standard.LED_BLUE+50)) {%>
        MEDIUM
        <% } else if (sample.LED_BLUE < (standard.LED_BLUE+50)) { %>
        HIGH
        <% } else { %>
        LOW
        <% } %>
      </li>
            <li> Phosphorus :
        <% if((standard.LED_GREEN-50) < sample.LED_GREEN &&  sample.LED_GREEN < (standard.LED_GREEN+50)) {%>
        MEDIUM
        <% } else if (sample.LED_GREEN < (standard.LED_GREEN)) { %>
        HIGH
        <% } else { %>
        LOW
        <% } %>
      </li>
    </ul>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  new Chart(ctx, {
    data: {
      labels: ['LED_RED(Potassium)','LED_BLUE(Nitrogen)','LED_GREEN(Phosphorous)'],
      datasets: [{
        type : 'bar',
        label: 'Sample Data',
        backgroundColor : '#e29578',
        data: [<%= sample.LED_RED %>, <%= sample.LED_BLUE %>, <%= sample.LED_GREEN %>],
        borderWidth: 1
      },{
        type :'bar',
        label: 'Standard Data',
        backgroundColor : '#006d77',
        borderColor : '#006d77',
        data: [<%= standard.LED_RED %>, <%= standard.LED_BLUE %>, <%= standard.LED_GREEN %>],
        borderWidth: 5
      }
      ]
    },
      options: {
    responsive: true,
    maintainAspectRatio : false,
    layout: {
      padding: 10,
    },
    legend: {
      position: 'right',
    },
    plugins :{
      title: {
        display: true,
        text: 'Standard NPK'
      },
    },
    scales : {
      y : {
        title : {
          display : true,
          text : 'Intensities'
        }
      },
      x : {
        title : {
          display : true,
          text : 'LEDS'
        }
      }
    }
  }
  });
</script>
</body>
</html>